<button class="generalButton" (click)="goToContinental()" i18n>Back to Continental Regions</button>
<section class="data" *ngIf="regions$ | async as countryRegions">
    <div>
        <h3>Continental Region data: </h3>
        <p>ID: {{ continent.id }}</p>
        <p>Code: {{ continent.code }}</p>
        <p>Iso2Code: {{ continent.iso2code }}</p>
        <p>Name: {{ continent.name }}</p>
    </div>
    <generic-data-template [title]="title" [api]="regionsAPI">
        <table>
            <thead>
                <tr>
                    <td i18n>Id</td>
                    <td i18n>Name</td>
                    <td i18n>Capital City</td>
                    <td i18n>Iso2code</td>
                    <td i18n>Longitude</td>
                    <td i18n>Latitude</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let rCountry of countryRegions[1]">
                <tr *ngIf="rCountry.id !== ''">
                    <td>{{ rCountry.id }}</td>
                    <td>{{ rCountry.name }}</td>
                    <td>{{ rCountry.capitalCity }}</td>
                    <td>{{ rCountry.iso2Code }}</td>
                    <td>{{ rCountry.longitude }}</td>
                    <td>{{ rCountry.latitude }}</td>
                    <td><button (click)="goToCountry(rCountry.id)" i18n>See Country</button></td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </generic-data-template>
</section>

