/* You can add global styles to this file, and also import other style files */
table {
  border: 1px solid #FFFFFF;
  width: 90%;
  max-height: 300px;
  margin: 0 5%;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #f5ced3;
}
table thead {
  background: #a40927;
  border-bottom: 5px solid #FFFFFF;
}

table thead th td {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF !important;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
  border-left: none;
}
